#empTop {
height: 35px;
}

.list-group-pic {
  width: 75px;
  border: 0px;
}

.list-group-name {
  font-size: 15px;
  width: 175px;
  border: 0px;
  padding: 0.25rem 1.25rem 0.75rem 1.25rem;
}

.list-group-email {
  font-size: 15px;
  width: 225px;
  border: 0px;
  padding: 0.25rem 1.25rem 0.75rem 0rem;


}

  .list-group-item {
    padding-left: 1rem;
    padding-right: 1rem;
    font-size: 15px;
    width: 200px;
    border: 0px;
    padding: 0.25rem 1.25rem 0.75rem 0rem;
  }