.list-group-horizontal-lg {
  background: #fff;
  border-radius: 2px;
  height: 80px;
  margin: 1rem;
  position: relative;
  width: 800px;
  box-shadow: 0 3px 6px #999, 0 3px 6px #999;
  text-align: left;
  border: 0px;

}
.list-group-pic {
  width: 75px;
  border: 0px;
}

.list-group-name {
  font-size: 15px;
  width: 175px;
  border: 0px;
  padding: 0.75rem 1.25rem 0.75rem 1.25rem;
}

.list-group-email {
  font-size: 15px;
  width: 225px;
  border: 0px;
  padding: 0.75rem 1.25rem 0.75rem 0rem;
  font-size: 12px;

}

  .list-group-item {
    padding-left: 1rem;
    padding-right: 1rem;
    font-size: 15px;
    width: 200px;
    border: 0px;
    font-size: 12px;
  }

.card > .content {
  padding-left: 1rem;
  padding-right: 1rem;
  font-size: 15px;
  border: 0px;
}
